<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-6">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Education</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline art-gallery">
        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>VIA University College</h5>
                <div class="art-el-suptitle mb-15">Software Technology
                  Engineering Student
                </div>
              </div>
              <div class="art-right-side">
                <span class="art-date">2020 - present</span>
              </div>
            </div>
            <div>•Language Center midst, Horsens (Sprogcenter Midt, Horsens)
              <br>•AIESEC in Denmark
              <br>•Helping other students with their studies
            </div>
          </div>
        </div>
        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>High School of IT technologies</h5>
                <div class="art-el-suptitle mb-15">Student</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">2016 - 2020</span>
              </div>
            </div>
            <p>
              •Successful participation in robotics competitions in Czech and
              Slovak Republic<br/>
              •Representing the school in many sport competitions
              successfully.<br/>
              •Received Headmaster's award.<br/>
            </p>
            <a data-fancybox="diplome" href="files/DiplomeTomasOndrejka.pdf"
               class="art-link art-color-link art-w-chevron">Diplome</a>
            <a data-fancybox="diplome" href="files/HeadmasterAwardTomasOndrejka.pdf"
               class="art-link art-color-link art-w-chevron">Headmaster Award</a>
          </div>
        </div>
      </div>
      <!-- timeline end -->

    </div>
    <div class="col-lg-6">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Work History</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline">


        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>WhiteAway Group</h5>
                <div class="art-el-suptitle mb-15">Tech Student Assistant</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">2022 - 2022</span>
              </div>
            </div>
            <p>
              • Creating AWS infrastructure as code in Terraform<br>
              • Building and uploading Docker images to AWS ECR<br>
              • Implementation of CircleCi CI/CD pipelines for existing
              services<br>
              • Migration from AWS ECS to AWS EKS for cost reduction<br>
            </p>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>TrainYourEyes.dk</h5>
                <div class="art-el-suptitle mb-15">JavaScript developer</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">2021 - 2022</span>
              </div>
            </div>
            <p>
              • Requirements extraction directly from tye.com representatives<br>
              • Designing exercises<br>
              • Implementation of the designed exercises in node.js, JavaScript,
              TypeScript, npm, Phaser and p5.js<br>
              • Implementing features on tye's customer management portal in
              HTML<br>
            </p>

          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Reitan distribution</h5>
                <div class="art-el-suptitle mb-15">Forklift Operator</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">2020 - 2021</span>
              </div>
            </div>
            <p>
              •Operating forklift<br>
              •Preparing and completing orders<br>
              •Picking up goods<br></p>
            <a data-fancybox="diplome" href="files/DanishForkliftLicense.pdf"
               class="art-link art-color-link art-w-chevron">Danish Forklift
              License</a>
          </div>
        </div>
      </div>
      <!-- timeline end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->
