<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Contact information</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Country:</h6><span>{{getLatestLocation()?.country}}</span>
            </li>
            <li>
              <h6>City:</h6><span>{{getLatestLocation()?.city}}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->
    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li><h6>LinkedIn:</h6><a
              href="https://www.linkedin.com/in/tomas-ondrejka/"
              target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><h6>Github:</h6><a href="https://github.com/tomondre"
                                   target="_blank"><i class="fa-brands fa-github"></i></a>
            </li>
            <li><h6>Instagram:</h6><a
              href="https://www.instagram.com/tomas_ondrejka_/"
              target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><h6>Facebook:</h6><a
              href="https://www.facebook.com/tomas.o.ondrejka/"
              target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><h6>Docker:</h6><a
              href="https://hub.docker.com/u/tomondre"
              target="_blank"><i class="fa-brands fa-docker"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->
    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Email:</h6><span>info@tomondre.com</span>
            </li>
            <li>
              <h6>Phone:</h6><span>+421 949 328 168 </span>
            </li>
            <li>
              <h6>CV:</h6><span><a download="TomasOndrejkaCV.pdf" href="assets/TomasOndrejkaCV.pdf" target="_blank"><i class="fa fa-file"></i></a></span>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Get in touch</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- contact form frame -->
      <div class="art-a art-card">

        <!-- contact form -->
        <form id="form" class="art-contact-form"
              action="https://usebasin.com/f/976a937a14b8" method="POST">
          <!-- form field -->
          <div class="art-form-field">
            <!-- name input -->
            <input id="name" name="name" class="art-input" type="text"
                   placeholder="Name" required>
            <!-- label -->
            <label for="name"><i class="fa fa-user"></i></label>
          </div>
          <!-- form field end -->
          <!-- form field -->
          <div class="art-form-field">
            <!-- email input -->
            <input id="email" name="email" class="art-input" type="email"
                   placeholder="Email" required>
            <!-- label -->
            <label for="email"><i class="fa fa-at"></i></label>
          </div>
          <!-- form field end -->
          <!-- form field -->
          <div class="art-form-field">
            <!-- message textarea -->
            <textarea id="message" name="message" class="art-input"
                      placeholder="Message" required></textarea>
            <!-- label -->
            <label for="message"><i class="fa fa-envelope"></i></label>
          </div>
          <!-- form field end -->
          <!-- button -->
          <div class="art-submit-frame">
            <button class="art-btn art-btn-md art-submit" type="submit"><span>Send message</span>
            </button>
            <!-- success -->
            <div class="art-success">Success <i class="fa fa-check"></i></div>
          </div>
        </form>
        <!-- contact form end -->

      </div>
      <!-- contact form frame end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->
