
      <!-- container -->
      <div class="container-fluid">

        <!-- row -->
        <div class="row p-60-0 p-lg-30-0 p-md-15-0">
          <!-- col -->
          <div class="col-lg-12">

            <!-- banner -->
            <div class="art-a art-banner" style="background-image: url(assets/img/BackGround.jpg)">
              <!-- banner back -->
              <div class="art-banner-back"></div>
              <!-- banner dec -->
              <div class="art-banner-dec"></div>
              <!-- banner overlay -->
              <div class="art-banner-overlay">
                <!-- main title -->
                <div class="art-banner-title">
                  <!-- title -->
                  <h1 class="mb-15">Discover my Amazing <br>Work Space!</h1>
                  <!-- suptitle -->
                   <div class="art-lg-text art-code mb-25">&lt;<i>code</i>&gt; I make <span
                    class="txt-rotate" data-period="2000"
                    data-rotate='[ "Java applications.", "management systems.", "Webpages.", "JavaScript games." ]'></span>&lt;/<i>code</i>&gt;
                  </div>

                </div>
                <!-- main title end -->
                <!-- photo -->
                <img src="assets/img/face-2.png" class="art-banner-photo" alt="Tomas Ondrejka">
              </div>
              <!-- banner overlay end -->
            </div>
            <!-- banner end -->

          </div>
          <!-- col end -->
        </div>
        <!-- row end -->

      </div>
      <!-- container end -->

      <!-- container end -->

      <app-experience-summary></app-experience-summary>

      <div class="container-fluid">

        <!-- row -->
        <div class="row">

          <!-- col -->
          <div class="col-lg-12">

            <!-- section title -->
            <div class="art-section-title">
              <!-- title frame -->
              <div class="art-title-frame">
                <!-- title -->
                <h4>My skills</h4>
              </div>
              <!-- title frame end -->
            </div>
            <!-- section title end -->

          </div>
          <!-- col end -->

          <!-- col -->
          <div class="col-lg-4 col-md-6">

            <!-- service -->
            <div class="art-a art-service-icon-box">
              <!-- service content -->
              <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">Java</h5>
                <!-- text -->
                <div class="mb-15"> Java was first object-oriented programming language I
                  have learned on a high level. The knowledge of Java, learned from
                  school was used on creating projects throughout the semesters and
                  projects outside school. From
                  creating my first Hello World application, through first database
                  connection to creating first RESTful API with Spring, Java is a language
                  from which I got all foundation of object-oriented programming.

                </div>
                <!-- button -->
              </div>
              <!-- service content end -->
            </div>
            <!-- service end -->

          </div>
          <!-- col end -->

          <!-- col -->
          <div class="col-lg-4 col-md-6">

            <!-- service -->
            <div class="art-a art-service-icon-box">
              <!-- service content -->
              <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">Java Script</h5>
                <!-- text -->
                <div class="mb-15">
                  Hands on experience with JavaScript on several projects. The language
                  have been used mostly with NPMjs to ensure easier dependency managing
                  and easier development.
                  Because of JavaScript loose typing, I have learned how not to lose my
                  nerves
                  after getting a random exception that has nothing to do with the real
                  bug and how to debug these issues efficiently (not only in js).
                </div>
                <!-- button -->
              </div>
              <!-- service content end -->
            </div>
            <!-- service end -->

          </div>
          <!-- col end -->

          <!-- col -->
          <div class="col-lg-4 col-md-6">

            <!-- service -->
            <div class="art-a art-service-icon-box">
              <!-- service content -->
              <div class="art-service-ib-content">
                <!-- title -->
                <h5 class="mb-15">C#</h5>
                <!-- text -->
                <div class="mb-15">
                  My C# knowledge grew after learning it in school. The language was used
                  in .NET projects for creating Blazor Server Apps and WEB APIs. Hands-on
                  experience with connecting .net applications to MySQL database via LINQ
                  on a project.
                </div>
                <!-- button -->
              </div>
              <!-- service content end -->
            </div>
            <!-- service end -->
          </div>
          <!-- col end -->
          <!-- col -->
        </div>

      </div>
      <!-- container end -->
