<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Raspberry Kubernetes Cluster</h4>
        </div>
        <!-- title frame end -->
        <!-- right frame -->
        <div class="art-right-frame">
          <div class="art-project-category">Kubernetes Cluster</div>
        </div>
        <!-- right frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider container -->
      <div class="swiper-container art-works-slider" style="overflow: visible">
        <!-- slider wrapper -->
        <div class="swiper-wrapper">

          <!-- slide -->
          <div class="swiper-slide swiper-slide-next">
            <!-- item frame -->
            <a data-fancybox="gallery"
               href="assets/img/raspberrryKubernetes/Deployment.png"
               class="art-a art-portfolio-item-frame art-horizontal">
              <!-- img -->
              <img src="assets/img/raspberrryKubernetes/Deployment.png"
                   alt="item">
              <!-- zoom icon -->
              <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- item end -->
          </div>
          <!-- slide end-->

          <!-- slide -->
          <div class="swiper-slide swiper-slide-next">
            <!-- item frame -->
            <a data-fancybox="gallery"
               href="assets/img/raspberrryKubernetes/Cloudflare%20domains.png"
               class="art-a art-portfolio-item-frame art-horizontal">
              <!-- img -->
              <img src="assets/img/raspberrryKubernetes/Cloudflare%20domains.png"
                   alt="item">
              <!-- zoom icon -->
              <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- item end -->
          </div>
          <!-- slide end-->

          <!-- slide -->
          <div class="swiper-slide swiper-slide-next">
            <!-- item frame -->
            <a data-fancybox="gallery"
               href="assets/img/raspberrryKubernetes/Deployment%20Module.%20Usagepng.png"
               class="art-a art-portfolio-item-frame art-horizontal">
              <!-- img -->
              <img src="assets/img/raspberrryKubernetes/Deployment%20Module.%20Usagepng.png"
                   alt="item">
              <!-- zoom icon -->
              <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- item end -->
          </div>
          <!-- slide end-->

          <!-- slide -->
          <div class="swiper-slide swiper-slide-next">
            <!-- item frame -->
            <a data-fancybox="gallery"
               href="assets/img/raspberrryKubernetes/Services.png"
               class="art-a art-portfolio-item-frame art-horizontal">
              <!-- img -->
              <img src="assets/img/raspberrryKubernetes/Services.png"
                   alt="item">
              <!-- zoom icon -->
              <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- item end -->
          </div>
          <!-- slide end-->

          <!-- slide -->
          <div class="swiper-slide swiper-slide-next">
            <!-- item frame -->
            <a data-fancybox="gallery"
               href="assets/img/raspberrryKubernetes/Pods.png"
               class="art-a art-portfolio-item-frame art-horizontal">
              <!-- img -->
              <img src="assets/img/raspberrryKubernetes/Pods.png"
                   alt="item">
              <!-- zoom icon -->
              <span class="art-item-hover"><i class="fas fa-expand"></i></span>
            </a>
            <!-- item end -->
          </div>
          <!-- slide end-->

          <!-- slider wrapper end -->
        </div>
        <!-- slider container end -->
      </div>
      <!-- col end -->
    </div>

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider navigation -->
      <div class="art-slider-navigation">

        <!-- left side -->
        <div class="art-sn-left">

          <!-- slider pagination -->
          <div class="swiper-pagination"></div>

        </div>
        <!-- left side end -->

        <!-- right side -->
        <div class="art-sn-right">

          <!-- slider navigation -->
          <div class="art-slider-nav-frame">
            <!-- prev -->
            <div class="art-slider-nav art-works-swiper-prev"><i
              class="fa fa-chevron-left"></i></div>
            <!-- next -->
            <div class="art-slider-nav art-works-swiper-next"><i
              class="fa fa-chevron-right"></i></div>
          </div>
          <!-- slider navigation -->

        </div>
        <!-- right side end -->

      </div>
      <!-- slider navigation end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          <!-- title -->
          <h4>Project details</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-8">

      <div class="art-a art-card art-fluid-card">
        <h5 class="mb-15">Description</h5>
        <div class="mb-15">
          Kubernetes is a portable, extensible, open source platform for managing
          containerized workload and services. In a recent years, Kubernetes is
          gaining a lof of popularity due to its flexibility, multi-cloud capability,
          increased productivity,...
          (https://www.weave.works/blog/6-business-benefits-of-kubernetes). <br/>
          For creating my Kubernetes cluster, I have used Rancher's K3S for its easy
          setup and initial configuration. The computing power is provided by two
          Raspberry Pi 4s (Model B 8gb). First Raspberry is used as master node and
          second one as worker node.<br/>
          Terraform modules are used for automatic deployments to the cluster. Each
          Terraform deployment creates: K8s deployment, K8s service, Traefik ingress
          for the load balancer and a Cloudflare DNS record that points to the
          ingress.<br/>
          During the project, I have followed security and networking best practises
          including: SSH access only with RSA key, using DNS proxy, automatically
          getting a TLS certificate from CA authority (Let's encrypt), using Cloudflare strict SSL
          mode,...<br/>
          Currently, the cluster contains deployments of my hobby projects. Whole
          cluster configuration together with terraform deployments can be found on my
          GitHub Repository.
        </div>
        <!-- button -->
      </div>

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-4">

      <div class="art-a art-card">
        <!-- table -->
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Start Date:</h6><span>13.5.2022</span>
            </li>
            <li>
              <h6>Final Date:</h6><span>17.5.2022</span>
            </li>
            <li>
              <h6>Status:</h6><span>Finished</span>
            </li>
            <li>
              <h6>Client:</h6>
              <span>Tomas Ondrejka</span>
            </li>
            <li>
              <h6>Location:</h6><span>Horsens, Denmark</span>
            </li>
            <li>
              <h6>Technologies:</h6>
              <span>Raspberry Pi, Kubernetes, Terraform, Docker, Cloudflare, K3s, Traefik, K9s Dashboard, Ansible, TCP, HTTPS</span>
            </li>
            <li>
              <h6>Github Repository:</h6>
              <span>
                                                        <a
                                                          href="https://github.com/tomondre/raspberry-kubernetes-cluster"
                                                          target="_blank"><i class="fa fa-github"></i></a>
                                                    </span>
            </li>
            <li>
              <h6>Deployments:</h6>
              <span>
                                                        <a href="https://api-cv.tomondre.com/" target="_blank"><i
                                                          class="fa fa-file"></i></a>
                                                        <a href="https://portfolio.tomondre.com/" target="_blank"><i
                                                          class="fa fa-file"></i></a>
                                                        <a href="https://lego-scraper.tomondre.com/" target="_blank"><i
                                                          class="fa fa-file"></i></a>
                                                    </span>

            </li>
          </ul>
        </div>
        <!-- table end -->
      </div>

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->

</div>
<!-- container end -->

<app-experience-summary></app-experience-summary>

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row">


    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->
