<div class="art-menu-bar">

  <!-- menu bar frame -->
  <div class="art-menu-bar-frame">

    <!-- menu bar header -->
    <div class="art-menu-bar-header">
      <!-- menu bar button -->
      <a class="art-menu-bar-btn" href="#.">
        <!-- icon -->
        <span></span>
      </a>
      <!-- menu bar button end -->
    </div>
    <!-- menu bar header end -->

    <!-- current page title -->
    <div class="art-current-page"></div>
    <!-- current page title end -->

    <!-- scroll frame -->
    <div class="art-scroll-frame">

      <!-- menu -->
      <nav id="swupMenu">
        <!-- menu list -->
        <ul class="main-menu">
          <!-- menu item -->
          <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
          <!-- menu item -->
          <li class="menu-item menu-item-has-children">
            <a href="#.">Portfolio</a>

            <!-- sub menu -->
            <ul class="sub-menu">
              <li class="menu-item"><a href="html/Pages/projects/EyeExercises.html">Eye
                Exercises</a></li>
              <li class="menu-item"><a
                href="html/Pages/projects/RaspberryKubernetesCluster.html">Raspberry
                Kubernetes Cluster</a>
              <li class="menu-item"><a href="html/Pages/projects/Rabatoo.html">Rabatoo</a>
              <li class="menu-item"><a href="html/Pages/projects/ApiCV.html">API CV</a>
              <li class="menu-item"><a href="html/Pages/projects/ErotoApp.html">Android eRoto
                APP</a>
              <li class="menu-item"><a
                href="html/Pages/projects/Skrabmig.html">Skrabmig.dk</a></li>
              <li class="menu-item"><a href="html/Pages/projects/3DPrinter.html">3D
                Printer</a></li>
              <li class="menu-item"><a
                href="html/Pages/projects/HospitalManagementSystem.html">Hospital
                Management System</a></li>
              <li class="menu-item"><a
                href="html/Pages/projects/ProjectManagementSystem.html">Project
                Management System</a></li>
            </ul>
            <!-- sub menu end -->

          </li>
          <!-- menu item -->
          <li class="menu-item"><a href="html/Pages/History.html">History</a></li>
          <!-- menu item -->
          <li class="menu-item"><a href="html/Pages/Contact.html">Contact</a></li>
          <!-- menu item -->
          <!-- menu item -->
        </ul>
        <!-- menu list end -->
      </nav>
      <!-- menu end -->

      <!-- language change -->
      <ul class="art-language-change">
        <!-- language item -->
        <!-- language item -->
        <li class="art-active-lang"><a href="#.">EN</a></li>
      </ul>
      <!-- language change end -->

    </div>
    <!-- scroll frame end -->

  </div>
  <!-- menu bar frame -->

</div>
