<div class="art-menu-bar">

  <!-- menu bar frame -->
  <div class="art-menu-bar-frame">

    <!-- menu bar header -->
    <div class="art-menu-bar-header">
      <!-- menu bar button -->
      <a style="cursor: pointer" class="art-menu-bar-btn" >
        <!-- icon -->
        <span></span>
      </a>
      <!-- menu bar button end -->
    </div>
    <!-- menu bar header end -->

    <!-- current page title -->
    <div class="art-current-page"></div>
    <!-- current page title end -->

    <!-- scroll frame -->
    <div class="art-scroll-frame">

      <!-- menu -->
      <nav style="cursor: pointer" id="swupMenu">
        <!-- menu list -->
        <ul class="main-menu">
          <!-- menu item -->
          <li class="menu-item" routerLinkActive="current-menu-item" (click)="redirectTo('/')"><a>Home</a></li>
          <!-- menu item -->
          <li class="menu-item menu-item-has-children">
            <a>Portfolio</a>

            <!-- sub menu -->
            <ul class="sub-menu">
              <li *ngFor="let project of projects" class="menu-item"><a (click)="redirectTo('/projects/' + project.name)">
                {{project?.name}}</a></li>
              </ul>
            <!-- sub menu end -->

          </li>
          <!-- menu item -->
          <li class="menu-item"><a href="https://deployments.tomondre.com" target="_blank">Deployments</a></li>
          <!-- menu item -->
          <li class="menu-item"><a (click)="redirectTo('/history')" routerLinkActive="menu-item current-menu-item">History</a></li>
          <!-- menu item -->
          <li class="menu-item"><a (click)="redirectTo('/contact')"  routerLinkActive="menu-item current-menu-item">Contact</a></li>
          <!-- menu item -->
        </ul>
        <!-- menu list end -->
      </nav>
      <!-- menu end -->

      <!-- language change -->
      <ul class="art-language-change">
        <!-- language item -->
        <!-- language item -->
        <li class="art-active-lang"><a>EN</a></li>
      </ul>
      <!-- language change end -->

    </div>
    <!-- scroll frame end -->

  </div>
  <!-- menu bar frame -->

</div>
