<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-md-3 col-6">

      <!-- couner frame -->
      <div class="art-counter-frame">
        <!-- counter -->
        <div class="art-counter-box">
          <!-- counter number -->
          <span class="art-counter">2</span><span class="art-counter-plus">+</span>
        </div>
        <!-- counter end -->
        <!-- title -->
        <h6>Years Experience</h6>
      </div>
      <!-- couner frame end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-md-3 col-6">

      <!-- couner frame -->
      <div class="col-md-3 col-6">

        <!-- couner frame -->
        <div class="art-counter-frame">
          <!-- counter -->
          <div class="art-counter-box">
            <!-- counter number -->
            <span class="art-counter">9</span>
          </div>
          <!-- counter end -->
          <!-- title -->
          <h6>Completed Projects</h6>
        </div>
        <!-- couner frame end -->

      </div>

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-md-3 col-6">

      <!-- couner frame -->
      <div class="art-counter-frame">
        <!-- counter -->
        <div class="art-counter-box">
          <!-- counter number -->
          <span class="art-counter">4</span>
        </div>
        <!-- counter end -->
        <!-- title -->
        <h6>Happy Customers</h6>
      </div>
      <!-- couner frame end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-md-3 col-6">
      <div class="col-md-3 col-6">

        <!-- couner frame -->
        <div class="art-counter-frame">
          <!-- counter -->
          <div class="art-counter-box">
            <!-- counter number -->
            <span class="art-counter">1</span>
          </div>
          <!-- counter end -->
          <!-- title -->
          <h6>Projects In Progress </h6>
        </div>
        <!-- couner frame end -->

      </div>
    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
